<h1>sign up</h1>
<form action="">
<textarea name="username" id="" cols="30" rows="10">username</textarea>
<textarea name="password" id="" cols="30" rows="10">password</textarea>
<button>submit</button>
</form>